<server description="Game On! Player Service">

    <!-- Enable features -->
  <featureManager>
    <feature>websocket-1.1</feature>
    <feature>localConnector-1.0</feature>
    <feature>jaxrs-2.0</feature>
    <feature>mongodb-2.0</feature>
    <feature>cdi-1.2</feature>
    <feature>ssl-1.0</feature>
    <feature>jsonp-1.0</feature>
    <feature>jndi-1.0</feature>
    <feature>concurrent-1.0</feature>
  </featureManager>
  
  <keyStore id="defaultKeyStore" password="testOnlyKeystore"/>
  <keyStore id="defaultTrustStore" password="truststore" location="truststore.jks"/>
  
  <sslDefault sslRef="DefaultSSLSettings" />
  <ssl id="DefaultSSLSettings" keyStoreRef="defaultKeyStore" trustStoreRef="defaultTrustStore" />

  <library id="MongoLib">
    <file name="lib/mongo-java-driver-2.12.3.jar"/>
  </library>
  
  <mongo id="mongo" libraryRef="MongoLib"/>
  <mongoDB databaseName="playerDB" jndiName="mongo/playerDB" mongoRef="mongo"/>
  
  <!-- To access this server from a remote client add a host attribute to 
    the following element, e.g. host="*" -->
  <httpEndpoint host="*" httpPort="-1" httpsPort="9443" id="defaultHttpEndpoint"/>
  
  <applicationMonitor updateTrigger="mbean"/>
  
  <!-- Signed JWT keystore info -->
  <jndiEntry jndiName="jwtKeyStore" value="${server.config.dir}/resources/security/key.jks"/>
  <jndiEntry jndiName="jwtKeyStorePassword" value="testOnlyKeystore"/>
  <jndiEntry jndiName="jwtKeyStoreAlias" value="default"/>
  
  <jndiEntry jndiName="conciergeUrl" value="${env.CONCIERGE_URL}"/>
  <logging traceSpecification="*=info:com.ibm.ws.wsoc.*=all" />

  <webApplication id="player-app" location="player-app.war" name="player-app" contextRoot="/play">
    <classloader commonLibraryRef="MongoLib"/>
  </webApplication> 
  
</server>
