<server description="Game On! Player Service">

    <!-- Enable features -->
    <featureManager>
	<feature>jaxrs-2.0</feature>
	<feature>websocket-1.1</feature>
	<feature>localConnector-1.0</feature>
    </featureManager>

    <!-- To access this server from a remote client add a host attribute to the following element, e.g. host="*" -->
    <httpEndpoint host="*" httpPort="9081" httpsPort="9443" id="defaultHttpEndpoint"/>

    <applicationMonitor updateTrigger="mbean"/>

    <webApplication id="player-app" location="player-app.war" contextRoot="/" />
</server>
