[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
html {
  font-size: 62.5%;
}
body {
  min-height: 100vh;
  position: relative;
  font-size: 1.2em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.3;
  font-weight: 400;
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
pre,
code,
.little-text.key,
.game-container nav .input-w,
.game-container .body,
section.enter .intro {
  font-family: 'PT Mono', Courier, 'Menlo', 'Andale Mono';
}
.little-text.key,
code {
  padding: .2rem .5rem;
  margin: 0 .2rem;
  font-size: 90%;
  white-space: nowrap;
  background: #F1F1F1;
  border: 1px solid #E1E1E1;
  border-radius: 4px;
}
.little-text.key {
  white-space: normal;
  word-wrap: break-word;
}
p {
  margin-top: 0;
}
.padded {
  padding: .5rem 0;
}
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box; }
.slash,
.clear,
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  height: 38px;
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
}
/* Removes awkward default styles on some inputs for iOS */
.slash,
.clear,
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px;
}
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid #33C3F0;
  outline: 0;
}
input.ng-invalid-required {
  border: 1px solid #EA6F56;
}
/* flex forms
 -------------------------------------- */
.userprofile .box {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}
.flex-config,
.flex-config-row {
  display: flex;
  margin-right: 1rem;
  flex-flow: column nowrap;
  margin-bottom: .7rem;
}
.flex-config-row .full,
.flex-config .row {
  padding: 2px 0;
  width: 100%;
}
.flex-config input,
.flex-config .button {
  margin-bottom: 3px;
}
@media (min-width: 600px) {
  .flex-config-row {
    flex-flow: row wrap;
  }
  .flex-config-row label {
    width: 20rem;
  }
  .flex-config-row .little-text.key,
  .flex-config-row input,
  .flex-config-row select,
  .flex-config-row textarea {
    flex: 1;
  }
}
/* background
 -------------------------------------- */
.background {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  overflow: hidden;
}
.background .icon-small-light,
.background .icon-big-light,
.background .icon-floating-circle,
.background .icon-floating,
.background .icon-left,
.background .icon-corner,
.background .icon-bottom {
  display: none;
}
@media (min-width: 800px) {
  .background .icon-corner {
    display: block;
    position: absolute;
    width: 150px;
    height: 150px;
    top: -75px;
    left: -75px;
  }
}
@media (min-width: 800px) and (min-height: 700px) {
  .background .icon-small-light {
    display: block;
    position: absolute;
    width: 25px;
    height: 25px;
    bottom: 75px;
    left: 50px;
  }
  .background .icon-bottom {
    display: block;
    position: absolute;
    width: 400px;
    height: 400px;
    bottom: -325px;
    left: 75px;
  }
}
@media (min-width: 1100px) and (min-height: 700px) {
  .background .icon-big-light {
    display: block;
    position: absolute;
    width: 100px;
    height: 100px;
    bottom: 20px;
    left: 400px;
  }
}
@media (min-width: 1100px) {
  .background .icon-floating-circle {
    display: block;
    position: absolute;
    width: 500px;
    height: 500px;
    top: -150px;
    left: 90rem;
  }
  .background .icon-floating {
    display: block;
    position: absolute;
    width: 150px;
    height: 150px;
    bottom: 80px;
    right: 100px;
  }
  .background .icon-left {
    display: block;
    position: absolute;
    width: 400px;
    height: 400px;
    bottom: 150px;
    right: -225px;
  }
}
