body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

html, body, .ng-scope {
  height: 100%;
}

/*-----------------------------------*/
/* Anchor game view to the canvas    */
/*   header, nav are absolute within */
/*-----------------------------------*/
.gameView {
  position: fixed;
  height:100%;
  width:100%;
  top:0;
  left:0;
}

/*-----------------------------------*/
/*           Header Rules            */
/*-----------------------------------*/

body header.topnav {
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 6rem;
  padding: .3rem .5rem;
  display: inline-flex;
  z-index: 10;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  background-color: white;
  background-image: linear-gradient(90deg, #35566B, #7FD6DE);
  background-size: 100% 0.5rem;
  background-position: 0 100%;
  background-repeat: no-repeat;
}

header .logo-container {
  padding: 1rem;
  margin: 0;
  color: black;
  font-size: 1.5em;
  border-right: 1px solid black;
}

header .logo-container:before {
  content: 'Game On';
}

header .title span,
header .title a {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
  margin: 1rem;
  align-items: center;
  display: flex;
  color: black;
  font-size: 1.5em;
}

header .right-items {
  display: flex;
  justify-content: flex-end;
  padding: 1rem 0;
  position: absolute;
  right: 1.5rem;
}

header .top-nav-item {
  color: black;
}

header .top-nav-item a {
  font-size: 1.5em;
  color: black;
  text-decoration: none;
  padding-left: .5rem;
}

/*--------------------------------*/
/*      header media queries      */
/*--------------------------------*/

@media (max-width : 650px) {
  header .logo-container {
    display: none;
  }

  header .right-items {
    padding-right: .5rem;
  }

  header .top-nav-item {
    padding-right: 0;
  }
}

@media (max-width : 400px) {
  header .logo-container {
    display: none;
  }

  body div header.topnav {
    height: 4rem;
  }

  header .title span,
  header .title a,
  header .top-nav-item a {
    font-size: 1em;
  }
}

/*-----------------------------------*/
/*             Nav Rules             */
/*-----------------------------------*/

nav {
  background-color: #323232;
  box-sizing: border-box;
  position: absolute;
  display: block;
  bottom: 0;
  z-index: 11;
  width: 100%;
  height: 4rem;
  padding-bottom: 0;
  padding-top: 0;
}

nav.disabled {
  display: none;
}

nav .container {
  display: flex;
  align-content: stretch;
  height: 100%;
  padding: 0;

}

nav .slash {
  flex: 0 1 10%;
  height: 100%;
  background-color: #5EBDC9;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav .input-w {
  flex: 3 1 90%;
  background-color: white;
  height: 100%;
  width: 100%;
  display: flex;
}

nav .input-w input {
  width: 90%;
  height: 100%;
  margin-bottom: 0;
  background-color: white;
  border: none;
  border-radius: 0;
  align-self: stretch;
}

nav .slash a{
  color: #fff;
}

nav .slash a:hover,
nav .action i:hover {
  color: #ddd;
}

nav .input-w input:focus {
  border: none;
}

nav .clear {
  cursor: pointer;
  z-index: 100;
  align-self: center;
}

@media (min-width : 650px) {
  nav {
    padding: 0.2rem 0;
    padding-bottom: 2.2rem;
    height: 6rem;
  }

  nav .input-w {
    flex: 3 1 95%;
  }

  nav .slash {
    flex: 3 1 5%;
  }

  nav .clear {
    right: 2rem;
  }

  nav .input-w input {
    width: 95%;
  }
}

@media (max-width : 400px) {
  nav .slash {
    font-size: 1em;
  }

  nav {
    height: 3em;
    padding: 0;
    bottom: 0;
  }
}

/*-----------------------------------*/
/*        Central Body Rules         */
/*-----------------------------------*/

.gameView .viewport {
  font-family: 'PT Mono', Courier, 'Menlo', 'Andale Mono';
  font-weight: 200;
  font-size: 0.9em;
  position: absolute;
  top: 6.6rem;
  bottom: 6rem;
  margin: 0;
  width: 100%;
  overflow: auto;
  -webkit-overflow: touch;
  /*z-index: 1;*/
  background-color: #323232;
  color: white;
  height: auto;
}

.gameView .viewport.nonav {
  bottom: 0rem;
}

.gameView ul li {
  list-style-position: outside;
  margin-left: 1.5em;
  margin-bottom: .2em;
}

.content {
  margin-top: 1.5rem;
}

.location .name {
  font-weight: bold;
  border-bottom: 1px solid white;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}
.location .objects {
  margin: 1em 0;
}

.objects ul {
  margin-bottom: .2em;
}

.command {
  font-size: 1rem;
  font-style: italic;
  color: #999;
}

.objects li a {
  color: #EA6F56;
}

.objects li a:hover {
  color: #aa503e;
}

.paused a {
  color: white;
}
.paused a:hover {
  color: #aa503e;;
}

code {
  color: #c5c5c5;
  background-color: #292929;
  border: none;
}

pre code {
  font-size: .25em;
  background-color: inherit;
}

div.exits:before {
  font-family: "FontAwesome";
  content: "\f277\00a0";
  /*margin-left: -7rem;*/
  color: #EA6F56;
}

.list-item {
  padding: 0.1rem 0;
}

.joinpart {
  font-size: 1rem;
  font-style: italic;
  text-align: right;
}

.little-text {
  color: #999;
}
.exits table,
.exits table tr,
.exits table tr td,
.commands table,
.commands table tr,
.commands table tr td {
  border: none;
  vertical-align: top;
  padding: 0;
}

.exits table tr td p,
.commands table tr td p {
  margin-bottom: 0.1em;
}

.exits table tr td.key a,
.commands table tr td.key a {
  padding-right: 1em;
}

.description blockquote,
.event blockquote {
  border: 1px solid silver;
  padding: 10px;
}

.description blockquote p,
.event blockquote p {
  margin-bottom: 2px;
}

.key a {
  color: #EA6F56;
}

.key a:hover {
  color: #aa503e;
}

.chat {
  color: #32822e
}
.chat.me {
  color: #5EBDC9;
}

.short {
  display: none;
}

.chat:before {
  font-family: "FontAwesome";
  content: "\f0e6\00a0 ";
}
.chat .username {
  display: inline;
}
.chat .content {
  margin-top: 0;
  display: block;
  overflow-wrap: break-word;
  padding-left: 2.2rem;
}

@media (max-width : 650px) {
  .short {
    display: inline;
  }
  .full {
    display: none;
  }

  .gameView .viewport{
    bottom: 4rem;
  }

  .commands table tr td p {
    margin-bottom: 1em;
  }
}

@media (max-width : 400px) {
  .short {
    display: inline;
  }
  .full {
    display: none;
  }

  .gameView .viewport{
    top: 4.6rem;
    bottom: 4.6rem;
  }

  .commands table tr td p {
    margin-bottom: 1em;
  }
}
