.hide {
  display: none !important;
}

.block {
  display: block !important;
}

.outer-container {
  display: flex;
  align-items: stretch;
  background-image: url(../images/background-simple.png);
  background-size: cover;
  flex-shrink: 0;
  overflow-x: hidden;
}

.inner-container {
  display: flex;
  align-items: stretch;
  flex-direction: row;
  width: 100%;
}

body .darkblue {
  background-image: none;
  background-color: #1E3341;
  height: 100% !important;
}

.outer-container .left {
  background-color: rgb(255, 255, 255);
  flex: 1 0 50%;
  text-align: left;
  color: #35566B;
}

.outer-container .left .go-logo {
  height: 5rem;
  margin: 2rem;
}

.outer-container .left .terms-link {
  font-size: 1rem;
}

.outer-container .left .middle {
  margin: 0 7rem;
  border-bottom: 1px solid #35566B;
  padding-bottom: 5rem;
  margin-bottom: 5rem;
}

.outer-container .left .play {
  background-color: #EA6F56;
  color: white;
  border: none;
  border-radius: 2rem;
  margin-top: 2rem;
}

.outer-container .left .disabled {
  background-color: rgba(234, 111, 86, 0.55);
  pointer-events: none;
  cursor: default;
}

.header {
  margin-top: 3rem;
}

.header h1 {
  font-size: 8rem;
  margin-bottom: 0;
}

.header h1 .on {
  font-weight: bold;
  color: #65CFD9;
}

.lead {
  display: block;
  font-size: 2rem;
  font-weight: 500;
}

.intro {
  font-family: Courier, 'PT Mono', 'Menlo', 'Andale Mono';
  padding-top: 2rem;
  font-size: 0.8em;
  line-height: 1em;
}

.outer-container .right {
  flex: 1 0 50%;
  display: flex;
  justify-content: space-between;
}

.outer-container .right .gameplay-ss {
  height: 70%;
  width: 70%;
  margin-top: 7rem;
}

.outer-container .right .text,
.outer-container .right .button,
.outer-container .right .button i,
.outer-container .central .button,
.outer-container .central .button i {
  color: white;
  border: none;
}

.outer-container .central .login .tandcs {
  width: 80%;
}

.outer-container .central .login .tandcs .button {
  text-decoration: underline;
  padding-left: 0px;
}

.outer-container .central .login .tandcs h1{
  font-size: 1rem;
}

.outer-container .central .login .tandcs h2{
  font-size: .8rem;
}

.outer-container .terms h1 {
  font-size: 2rem;
  letter-spacing: 0;
}

.outer-container .terms h2 {
  font-size: 1.5rem;
  letter-spacing: 0;
}

.outer-container .login-profile {
  font-weight: normal;
  font-size: 1rem;
}

.outer-container .login-profile .button {
  border: 1px solid white;
  border-radius: 0;
}

.outer-container .login-profile input {
  color: black;
  border-radius: 0;
  font-size: 2rem;
}

.outer-container .login-profile label {
  font-size: 1.5rem;
}

.outer-container .right .right-left {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
}


.outer-container .right .right-left input {
  color: black;
}

.outer-container .right .right-left .slack-button {
  color: white;
  padding: 0;
}


.outer-container .right .right-left .row {
  padding: 2rem 0;
  width: 30rem;
  flex-shrink: 1;
}

.outer-container .right .right-left .row:nth-child(2) .button {
  margin-top: 0;
}

.outer-container .right .right-left .row .button{
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-shrink: 0;
  margin-top: 2.8rem;
  padding-right: 0;
}

.outer-container .right .right-left .row .subtext {
  display: table-cell;
  vertical-align: top;
  width: 100%;
  height: auto;
  margin-bottom: 2rem;
  text-align: left;
  font-size: 1.3rem;
  font-weight: 300;
  line-height: 1.3rem;
  margin-left: 4rem;
}

.outer-container .right .right-left .ibm-font {
  font-size: 2rem;
  color: #1E3341;
  padding-right: 1rem;
}

.outer-container .right .right-left .text,
.outer-container .right .right-left .button {
  text-transform: none;
  font-size: 1.5rem;
  margin-bottom: 0;
  white-space: normal;
}

.outer-container .right .right-left .icon{
  height: 3rem;
  width: 3rem;
  padding-right: 1rem;
  padding-top: 1rem;
}

.outer-container .right .right-left .icon use {
  fill: #1E3341;
}

.outer-container .right-right {
  display: flex;
  justify-content: flex-end;
  align-content: flex-end;
  align-items: center;
  height: 100%;
}

body .outer-container .login,
body .outer-container .terms {
  background-color: #1E3341;
  color: white;
  display: block;
  width: 80%;
  position: absolute;
  z-index: 10;
  margin: auto 10%;
  left: 0;
  top: 10%;
  padding: 2rem;
  height: 75%;
}

body .outer-container .terms {
  overflow-y: auto;
  font-size: 1rem;
  letter-spacing: 0;
  padding: 2rem;
}

body .outer-container .auth,
body .outer-container .usersetup {
  margin-top: 30%;
}

.login .buttons {
  display: flex;
  flex-wrap: wrap;
  padding-left: 10%;
  padding-right: 10%;
}

.login .buttons .button {
  border: 1px solid white;
  border-radius: 0;
  width: 30rem;
  margin: 1rem;

}

.close-login {
  font-weight: 100;
  font-size: 9rem;
  position: absolute;
  right: 1rem;
  padding: 0;
  color: white;
  border: none;
}

.close-login:hover {
  font-weight: 200;
  color: white;
}

@media (min-width: 800px) {
 .outer-container .paddedright {
   margin-left: 0;
   padding-left: 10rem;
   padding-top: 20rem;
   font-size: 2rem;
   padding-right: 10rem;
 }
}

@media (min-height: 550px){
  .outer-container {
    height: 100% !important;
  }
}

@media (max-height : 900px) {
  .outer-container {
    height: auto;
  }
}

@media (min-height: 900px){
  .outer-container {
    height: auto;
  }
}


@media (max-width : 800px) {

  * {
    max-width: 100%;
  }

  .mobilehide {
    display: none;
  }

  .outer-container,
  .inner-container {
    flex-direction: column;
    background-image: none;
    background-color: #35566B;
  }

  .outer-container .left {
    text-align: center;
    flex: 2 0 auto;
    order: 1;
    height: 100vh;
  }

  .outer-container .left .intro{
    padding-right: 5rem;
    padding-left: 5rem;
    text-align: justify;
    line-height: 2rem;
  }

  .outer-container .left .middle {
    margin: 0 auto;
    border: none;
  }

  .outer-container .left .terms-link {
    padding-left: 5rem;
    padding-right: 5rem;
    font-size: 1rem;
  }


  .outer-container .right {
    margin: 0;
    flex: 2 0 auto;
    background-color: #35566B;
    padding: 0 2rem;
    order: 2;
    height: auto;
  }

  .outer-container .right .right-left {
    flex-direction: column;
  }

  .outer-container .right .right-left .row .subtext {
    width: 100%;
    height: auto;
    margin-bottom: 2rem;
    text-align: left;
  }

  .outer-container .right .right-left .row a {
    padding: 0;
    margin-top: 2.5rem;
  }

  .header h1 {
    font-size: 6.5rem;
  }

  body .outer-container .terms,
  body .outer-container .login {
    width: 100%;
    margin: auto;
    height: 100vh;
    max-width: 100%;
    top: 0;
    padding: 2rem;
    box-sizing: border-box;
  }

  body  .outer-container .terms-content {
    margin-top: 2rem;
  }

  .login .buttons {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    height: 100%;
  }

  .login .buttons .button {
    height: auto;
    width: 80%;
  }

  .login .close-login {
    right: 1.5rem;
  }
}

@media (max-width: 1200px) {
  .outer-container .right .right-right {
    display: none;
  }

  .outer-container {
    background-image: url(../images/background-simple.png);
  }
}
