.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
.header {
  margin-top: 6rem;
  text-align: center;
}
.header .lead {
  display: block;
  text-transform: uppercase;
  font-size: 1.4rem;
  letter-spacing: .2rem;
  text-align: center;
}
.footer {
  text-align: center;
  font-size: 1rem;
}
.center {
  text-align: center;
}
.section {
  border-top: 1px solid #eee;
  padding: 3rem 0;
  margin-bottom: 0;
}
.section h2 {
  text-transform: uppercase;
  font-size: 1.4rem;
  letter-spacing: .2rem;
}
.gameView .viewport {
  position: absolute;
  top: 3rem;
  bottom: 4rem;
  margin: 0;
  width: 100%;
  overflow-y: scroll;
}
nav.top {
  display: block;
  background-color: #ddd;
  border-bottom: 1px solid #aaa;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  width: 100%;
  height: 3rem;
  padding: .3rem 1rem;
  vertical-align: middle;
  background-color: #13898D;
}
nav.bottom {
  background-color: #ddd;
  border-top: 1px solid #aaa;
  box-sizing: border-box;
  position: fixed;
  display: block;
  bottom: 0;
  width: 100%;
  height: 4rem;
  padding: .2rem 0rem .2rem 0rem;
  vertical-align: middle;
  background-color: #13898D;
}
nav.bottom .input-w {
  float: none; /* key */
  width: auto; /* key */
  height: 100%;
  overflow: hidden; /* key */
}
nav.bottom .input-w input {
  width: 100%;
  height: 100%;
}
nav .action i {
  float: right;
  font-size: 2rem;
  padding: .3rem .5rem;
  color: #fff;
}
nav.bottom .slash a,
nav .action i,
nav.top a {
  color: #fff;
}
nav.bottom .slash a:hover,
nav.top a:hover,
nav .action i:hover {
  color: #ddd;
}
nav.bottom .slash {
  font-size: 2rem;
  padding: .3rem 1.2rem;
  float: left;
  box-sizing: border-box;
}
nav.bottom .action i {
  box-sizing: border-box;
  padding: .8rem 1rem .3rem 1rem;
}
.element {
  margin-top: 1rem;
  margin-bottom: .6rem;
}
.command {
  font-size: 1rem;
  font-style: italic;
  color: #999;
}
.joinpart {
  font-size: 1rem;
  font-style: italic;
  color: #0080ff;
  text-align: right;
  }
.chat:before {
  font-family: "FontAwesome";
  content: "\f0e6 ";
}
.chat {
  color: #562F72
}
.chat .username {
  display: inline-block;
  padding-left: .5rem;
}
.chat .content {
  display: block;
  padding-left: 2rem;
}
.event {
  margin-top: .2rem;
  margin-bottom: .5rem;
}
li.exit {
  list-style-type: none;
  padding-left: 2rem;
} 
.exit .door {
  font-weight: bold;
  display: inline-block;
  width: 3rem;
}
.trophy .date,
.chat .date {
  float: right;
}
.location .name:before {
  font-family: "FontAwesome";
  content: "\f277 ";
}
.location .name {
  font-weight: bold;
}
.location .objects {
  margin: 1em 0;
}
.location .objects ul {
  margin: 0;
  padding-left: 1em;
}
.location .objects ul>li {
  margin: 0;
}
.event:after, nav.top:after, nav.bottom:after {
  content: "";
  display: table;
  clear: both;
}

/* Larger than phone */
@media ( min-width : 550px) {
  .header {
    margin-top: 18rem;
  }
}