@import 'gameon.css';
@import 'profile.css';

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
.header {
  margin-top: 6rem;
  text-align: center;
}
.header .lead {
  display: block;
  text-transform: uppercase;
  font-size: 1.4rem;
  letter-spacing: .2rem;
  text-align: center;
}
.footer {
  text-align: center;
  font-size: 1rem;
}
.center {
  text-align: center;
}
.intro {
    width: 80%;
    margin: 0 auto;
}
.section {
  padding: 2rem 0;
  margin-bottom: 0;
}
.section h2 {
  text-transform: uppercase;
  font-size: 1.4rem;
  letter-spacing: .2rem;
}
.padded {
  margin-top: 2rem;
}

.element {
  margin-top: 1rem;
  margin-bottom: .6rem;
}


.event {
  margin-top: .2rem;
  margin-bottom: .5rem;
}

.event:after, .top:after{
  content: "";
  display: table;
  clear: both;
}

@media (min-width : 325px) {
  .intro {
    width: 22rem;
  }
}
