@import 'gameon.css';
@import 'profile.css';
@import 'landingpage.css';
@import url(https://fonts.googleapis.com/css?family=PT+Mono);

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.footer {
  text-align: center;
  font-size: 1rem;
}
.center {
  text-align: center;
}

.padded {
  margin-top: 2rem;
}

.element {
  margin-top: 1rem;
  margin-bottom: .6rem;
}

.event {
  margin-top: .2rem;
  margin-bottom: .5rem;
}

.event:after, .top:after{
  content: "";
  display: table;
  clear: both;
}
