.gameView .viewport .profile input {
  color: black;
}

.gameView .viewport .profile .operations a,
.gameView .viewport .profile a,
.gameView .viewport .profile button,
.gameView .viewport .profile button i {
  color: white;
}

.login .button i {
  padding-right: 3px;
  color: white;
  font-size: 1.2rem;
}

.reg-input {
  width: 70%;
  color: #1E3341;
}

.reg-table {
  width: 90%;
}


