<img class="logo" src="assets/images/go-logo.png"/>

<div class="center container">
  <h1>GAME<span class="on">ON</span></h1>

  <h4>A Throwback Adventure</h4>

  <p>You are in a maze of little interconnected rooms, none alike. And you aren't alone...</p>

  <button {{action (action this.attrs.openLogin)}}>ENTER</button>
</div>


