<div class="default-container" data-ng-switch="$state.current.name" ng-cloak>
  <div class="main">
    <header class="logo">
      <a href="/"><img class="go-logo" src="../images/go-logo.png" alt="Game On!"/></a>
    </header>

    <section class="enter" data-ng-switch-when="default">
      <header>
        <h1>GAME<span class="on">ON</span></h1>
        <span class="lead">A Throwback Adventure</span>
      </header>
      <p class="intro">You are in a maze of little interconnected rooms, none alike. And you aren't alone...</p>
      <a class="button play" ng-class="{disabled: $state.current.name !='default'}"
         ui-sref="default.login">Enter</a>

      <p class="terms-link">By entering this site you are agreeing to our <a ui-sref="default.terms">terms</a></p>
      <footer>
        <div title="peace, love, play"><i class="fa fa-hand-peace-o"></i> <i class="fa fa-heart-o"></i> <i class="fa fa-play"></i></div>
      </footer>
    </section>

    <section class="terms" data-ng-switch-when="default.terms">
      <header>
        <h1>Terms and Conditions</h1>
        <span class="close" data-ng-click="ctrl.backToTheBeginning()">&times;</span>
      </header>
      <div ng-include="'templates/terms.html'"></div>
    </section>

    <section class="auth" data-ng-switch-when="default.auth">
      <header>
        <h1 class="signin">Sign in</h1>
      </header>
      <div>Authenticating ... <i class="fa fa-cog fa-spin"></i></div>
    </section>

    <section class="login" data-ng-switch-when="default.login">
      <header>
        <h1 class="signin">Sign in</h1>
        <span class="close" data-ng-click="ctrl.backToTheBeginning()">&times;</span>
      </header>
      <div class="buttons">
        <a class="button" ng-href="{{ctrl.api.TWITTER}}">Twitter</a>
        <a class="button" ng-href="{{ctrl.api.GOOGLE}}">Google</a>
        <a class="button" ng-href="{{ctrl.api.FACEBOOK}}">Facebook</a>
        <a class="button" ng-href="{{ctrl.api.GITHUB}}">GitHub</a>
        <a ng-if="(!ctrl.api.HOST.includes('.org'))" class="button" ng-href="{{ctrl.api.DUMMY}}">Anonymous user</a>
      </div>
    </section>

    <section class="usersetup" data-ng-switch-when="default.usersetup">
      <header>
        <h1>User Profile</h1>
      </header>
      <div>Scrying user details ... <i class="fa fa-cog fa-spin"></i></div>
    </section>

    <section class="userprofile" data-ng-switch-when="default.profile">
      <header>
        <h1>User Profile</h1>
      </header>
      <form name="ctrl.profileForm">
        <profile-core form="ctrl.profileForm" user="ctrl.user" class="box"></profile-core>
        <div data-ng-hide="ctrl.profileForm.$invalid">
          <a class="button" data-ng-click="ctrl.user.create()"><i class="fa fa-floppy-o"></i> Done!</a>
        </div>
      </form>
    </section>

    <!--  error messages -->
    <section class="error" data-ng-switch-default>
      <header>
        <h1>Something has gone wrong.</h1>
      </header>
      <div class="body">
        <p class="padded">Vizzini said when the job goes wrong, we should go back to the beginning.</p>
        <a class="button" data-ng-click="ctrl.backToTheBeginning()">Back to the beginning</a>
      </div>
    </section>
  </div>

  <aside class="related">
    <a class="link" target="_blank" href="https://gameontext-slackin.mybluemix.net">
      <svg class="icon">
        <use xlink:href="#shape-forum_32"/>
      </svg>
      <span class="text"><b>Join us on Slack!</b></span>
      <span class="subtext slack"><img src="https://gameontext-slackin.mybluemix.net/badge.svg" alt="slack"></span>
    </a>
    <a class="link" href="https://book.gameontext.org/">
      <svg class="icon">
        <use xlink:href="#shape-catalog_32"/>
      </svg>
      <span class="text">Book</span>
      <span class="subtext">What is this game,
        and what does it have to do with microservices?
        Read on!
      </span>
    </a>
    <a class="link" href="http://blog.gameontext.org/">
      <svg class="icon">
        <use xlink:href="#shape-news_32"/>
      </svg>
      <span class="text">Blog</span>
      <span class="subtext">Extra! Extra!
        Get the latest on our adventures, whether they be at events or
        just in code.
      </span>
    </a>
    <a class="link" href="/swagger/">
      <svg class="icon">
        <use xlink:href="#shape-api_32"/>
      </svg>
      <span class="text">Swagger APIs</span>
      <span class="subtext">Our callable REST APIs.
        Cleanly documented with Swagger. Ready to be poked with sticks.</span>
    </a>
    <a class="link" href="https://github.com/gameontext/">
      <svg class="icon">
        <use xlink:href="#shape-octo-32"/>
      </svg>
      <span class="text">GitHub Projects</span>
      <span class="subtext">Game On! is open source. All the code. All the words.</span>
    </a>
    <a class="link" href="https://github.com/orgs/gameontext/people">
      <svg class="icon">
        <use xlink:href="#shape-group_32"/>
      </svg>
      <span class="text">Contributors</span>
      <span class="subtext">Lots of people helped to build this game. We hope you will, too.</span>
    </a>
  </aside>
</div>
