<header>
  <div class="title">
    <span>Edit rooms</span>
  </div>
  <div class="top-nav-item">
      <a ui-sref="play.room" title="Back to room">
        <i class="fa fa-arrow-left fa-fw"></i>
      </a>
  </div>
  <div class="top-nav-item">
    <a ui-sref="play.me" title="Edit player profile">
      <i class="fa fa-user fa-fw"></i>
    </a>
  </div>
  <div class="top-nav-item">
    <a ui-sref="play.myrooms" title="Edit registered rooms">
      <i class="fa fa-building fa-fw"></i>
    </a>
  </div>
</header>
<div class="body nonav rooms">
  <section>
    <h2>Owner credentials</h2>
    <div class="flex-config-row">
      <div class="label flex-config">Game On! id: </div>
      <div class="little-text key" id="owner-id">{{play.user.profile._id}}</div>
    </div>
    <div class="padded full">
      <h3>Registration secret</h3>
      <p>Use the following secret for room registration.</p>
    </div>
    <div class="flex-config-row">
      <div class="little-text key" id="sharedSecret">{{play.user.profile.credentials.sharedSecret}}</div>
      <button name="play.sharedsecret" ng-click="play.updateSharedSecret()">
        <i class="fa fa-key"></i> Regenerate
      </button>
    </div>
  </section>
  <hr class="padded"/>
  <section id="site-edit" ng-controller="SiteCtrl as sites">
    <form name="sites.roomConfig">
    <h2>Room management</h2>
    <div class="padded full">
      <p>Select "Register a new room" or an existing room from the drop-down to view/edit Room registration details.</p>
    </div>
    <div class="flex-config-row">
      <label for="roomSelect">Select a room: </label>
      <select id="roomSelect"
          ng-change="sites.resetForm()"
          ng-model="sites.activeSite"
          ng-options="site as site.info.name for site in sites.siteList track by site._id">
          <option value="">-- Register a new room --</option>
      </select>
    </div>
    <div class="padded full">
      <h3>Room Details</h3>
      <p>Use the following fields to configure the registration of your room
        with the game.</p>
    </div>
    <div class="flex-config-row">
      <label for="roomInfo_fullName">Full Name</label>
      <input type="text" id="roomInfo_fullName" name="ri_fn"
        placeholder="Full name for your room" ng-model="sites.activeSite.info.fullName"
        ng-blur="sites.slugify()">
    </div>
    <div class="flex-config-row">
      <label for="roomInfo_name">Short Name</label>
      <input type="text" id="roomInfo_name" name="ri_name" required
        placeholder="Short, unique room name: niftyRoom" ng-model="sites.activeSite.info.name"/>
    </div>
    <div class="flex-config-row">
      <label for="roomInfo_description">Description</label>
      <textarea id="roomInfo_description" rows="3" name="ri_desc"
        placeholder="Describe your room: is it a tavern? A bus stop? A store?"
        ng-model="sites.activeSite.info.description"></textarea>
    </div>
    <div class="flex-config-row">
      <label for="roomInfo_repo">Public repository (e.g. GitHub)</label>
      <input type="url" id="roomInfo_repo" name="ri_repo"
          ng-model="sites.activeSite.info.repositoryUrl"
          placeholder="https://github.com/owner/repository"/>
    </div>
    <div class="padded full">
      <h3>Connection Details</h3>
    </div>
    <div class="flex-config-row">
      <label for="roomInfo_health">Health endpoint</label>
      <input type="url" id="roomInfo_health"  name="ri_cd_health"
          ng-model="sites.activeSite.info.connectionDetails.healthUrl"
          placeholder="http://<hostname:portnumber>/health"/>
    </div>
    <div class="flex-config-row">
      <label for="roomInfo_target">WebSocket endpoint</label>
      <input type="url" id="roomInfo_target" name="ri_cd_target"
          ng-model="sites.activeSite.info.connectionDetails.target"
          ng-pattern='/(wss?):\/\/[^ "]+$/'
          placeholder="ws://<hostname:portnumber>/room"/>
    </div>
    <div class="flex-config-row">
      <label for="roomInfo_token">Token <a href="https://book.gameontext.org/microservices/ApplicationSecurity.html#_signing_websocket_requests_mediator_to_room" target="_blank"  rel="noopener">(more)</a></label>
      <input type="text" id="roomInfo_token" name="ri_cd_token"
          ng-model="sites.activeSite.info.connectionDetails.token"
          placeholder=""/>&nbsp;
      <a class="button" ng-click="sites.createConnectionSecret()">
        <i class="fa fa-key"></i> Generate
      </a>
    </div>
    <div class="padded full">
      <h3>Doors</h3>
      <p>Describe the doors of your room as they
        <a href="https://book.gameontext.org/microservices/Map.html#_the_nature_of_doors" target="_blank" rel="noopener">appear from the outside</a>.</p>
    </div>
    <div class="flex-config-row">
      <label for="roomInfo_n">North</label>
      <input type="text" id="roomInfo_n"
      placeholder="" ng-model="sites.activeSite.info.doors.n"/>
    </div>
    <div class="flex-config-row">
      <label for="roomInfo_s">South</label>
      <input type="text" id="roomInfo_s"
      placeholder="" ng-model="sites.activeSite.info.doors.s"/>
    </div>
    <div class="flex-config-row">
      <label for="roomInfo_e">East</label>
      <input type="text" id="roomInfo_e"
      placeholder="" ng-model="sites.activeSite.info.doors.e"/>
    </div>
    <div class="flex-config-row">
      <label for="roomInfo_w">West</label>
      <input type="text" id="roomInfo_w"
      placeholder="" ng-model="sites.activeSite.info.doors.w"/>
    </div>
    <div ng-if="sites.roomConfig.$invalid || sites.errors">
      <hr class="padded error"  />
      <div class="flex-config-row">
        <ul class="error">
          <li ng-show="sites.roomConfig.ri_name.$error.required">Short name is required</li>
          <li ng-show="sites.roomConfig.ri_repo.$invalid ">Repository URL must be a valid http:// or https:// URL</li>
          <li ng-show="sites.roomConfig.ri_cd_health.$invalid">Health check endpoint must be a valid http:// or https:// URL</li>
          <li ng-show="sites.roomConfig.ri_cd_target.$invalid">Room endpoint be a valid ws:// or wss:// URL</li>
          <li ng-repeat="error in sites.errors track by $index">{{error.message}} [{{error.reason}}]</li>
        </ul>
      </div>
      <hr class="padded error" />
    </div>
    <div class="padded flex-config full" ng-if="!sites.activeSite._id">
      <button type="button" class="btn"
              ng-model="sites.activeSite" ng-click="sites.createRoom()"
              ng-disabled="sites.roomConfig.$invalid">Register</button>
    </div>
    <div class="padded flex-config-row full" ng-if="sites.activeSite._id">
      <button type="button" class="btn"
              ng-model="sites.activeSite" ng-click="sites.updateRoom()"
              ng-disabled="sites.roomConfig.$pristine || sites.roomConfig.$invalid">Update</button> &nbsp;
      <button type="button" class="btn"
              ng-model="sites.activeSite" ng-click="sites.deleteRoom()">Delete</button>
    </div>
    </form>
  </section>

</div>
