<header>
  <div class="title">
    <span>User profile and settings</span>
  </div>
  <div class="top-nav-item">
      <a ui-sref="play.room" title="Back to room">
        <i class="fa fa-arrow-left fa-fw"></i>
      </a>
  </div>
  <div class="top-nav-item">
    <a ui-sref="play.me" title="Edit player profile">
      <i class="fa fa-user fa-fw"></i>
    </a>
  </div>
  <div class="top-nav-item"  data-ng-hide="play.user.profile.playerMode==='guided'">
    <a ui-sref="play.myrooms" title="Edit registered rooms">
      <i class="fa fa-building fa-fw"></i>
    </a>
  </div>
</header>
<div class="body nonav me">
  <section class="me-session">
    <h2>Session</h2>
    <div class="label-button">
      <p>Log out of this browser, and remove all stored session data.</p>
      <a class="button" ng-click="play.logout()"><i class="fa fa-sign-out"></i> Log out</a>
    </div>
  </section>

  <section class="userprofile">
    <h2>Update User Profile</h2>
    <form name="play.profileForm">
      <profile-core user="play.user" form="play.profileForm" class="box"></profile-core>
      <div>
        <a class="button" data-ng-click="play.updateProfile()"><i class="fa fa-floppy-o"></i> Done!</a>
      </div>
    </form>
  </section>

  <section class="me-api-key" data-ng-hide="play.user.profile.playerMode==='guided'">
    <h2>API key (JWT)</h2>
    <p>Use the following key to experiment with authenticated API calls <a href="https://gameontext.org/swagger/">using Swagger</a>.</p>
    <div class="config"><div class="little-text key" id="jwt" ng-bind="play.auth.token()"></div></div>
  </section>
</div>
