<header>
  <div class="title">
    <a ng-click="play.sendFixed('/look')" title="Look at {{ play.clientState.fullName }}">{{ play.clientState.fullName }}</a>
  </div>
  <div class="top-nav-item">
    <a ng-click="play.listCommands()" title="List commands">
      <i class="fa fa-question-circle fa-fw"></i>
    </a>
  </div>
  <div class="top-nav-item">
    <a ui-sref="play.me" title="Edit player profile">
      <i class="fa fa-user fa-fw"></i>
    </a>
  </div>
  <div class="top-nav-item" data-ng-hide="play.user.profile.playerMode==='guided'">
    <a ui-sref="play.myrooms" title="Edit registered rooms">
      <i class="fa fa-building fa-fw"></i>
    </a>
  </div>
</header>
<div class="body" scroll-glue="play.glued">
  <div class="interaction" ng-repeat="data in play.roomEvents track by data.id" data-ng-switch="data.type">

    <div data-ng-switch-when="chat" class="element chat" ng-class="{ 'me': data.username == play.clientState.username}">
        <div class="username">{{data.username}}</div>
        <div class="content message" marked="data.content" ></div>
    </div>

    <div data-ng-switch-when="command" class="command"><div class="content">{{data.content}}</div></div>
    <div data-ng-switch-when="joinpart" class="joinpart"><div class="little-text" marked="data.content"></div></div>
    <div data-ng-switch-when="status" class="joinpart"><div class="little-text" marked="data.content"></div></div>
    <div data-ng-switch-when="event" class="element event"><div class="content" marked="data.content"></div></div>
    <div data-ng-switch-when="exit" class="element"><div class="content" marked="data.content"></div></div>

    <div data-ng-switch-when="location" class="element location">
      <div class="name">{{data.fullName}}</div>
      <div ng-bind-html="data.description" class="description" marked="data.description"></div>
      <div ng-bind-html="data.content" class="content" marked="data.content"></div>
      <div data-ng-if="data.roomInventory.length" class="objects">You notice:
          <ul><li ng-repeat="object in data.roomInventory"><a ng-click="play.append(object)" marked="object" ></a></li></ul>
      </div>
    </div>

    <div data-ng-switch-when="exits" data-ng-if="data.content" class="element exits">Visible exits:
      <br/>
      <table>
      <tr class="list-item" ng-repeat="(key, value) in data.content">
        <td class="key">
          <a title="/go {{key}}" ng-click="play.sendFixed('/go ' + key)" ng-bind-html="play.doorName(key)"></a>
        </td>
        <td class="value" marked="value"></td>
      </tr>
      </table>
    </div>

    <div data-ng-switch-when="commands" data-ng-if="data.content" class="element commands listiness">Available Commands:
      <br/>
      <table>
      <tr class="list-item" ng-repeat="(key, value) in data.content">
        <td class="key" >
          <a title="{{key}}" ng-click="play.fillin(key)" ng-bind-html="key"></a>
        </td>
        <td class="value" marked="value"></td>
      </tr>
      </table>
    </div>

    <div data-ng-switch-when="paused" class="element paused">
        <div class="content"><span marked="data.content"></span>
          <a ng-if="data.button" class="button" ng-click="play.resume(data.id)"><i class="fa fa-play-circle-o" aria-hidden="true"></i> Resume</a>
        </div>
    </div>

    <div data-ng-switch-default marked="data"></div>
  </div>
</div>
<div id="scroll-to-bottom" ng-hide="play.glued">
  <a ng-click="play.glued = !play.glued"><i class="fa fa-hand-o-down" aria-hidden="true" title="scroll to bottom"></i></a>
</div>
