<div id="redhat" class="default-container" data-ng-switch="$state.current.name" ng-cloak>
  <div class="main">
    <div class="logo">
      <a href="/#/redhat"><img src="../images/Red_Hat_Logo_2019.svg" alt="Red Hat"/></a>
    </div>

    <section class="enter" data-ng-switch-when="redhat">
      <header>
        <h2 class="colab">
          <img src="../images/icon-oss-colab-256x256.png" alt="Red Hat"/>Co.Lab
        </h2>
        <h1>Breaking the Code</h1>
      </header>

      <div>
        <p class="intro"><span class="left">It all started</span><br /><br />
          <span class="right">with a rumor</span></p>

        <a class="button play" ng-class="{disabled: $state.current.name !='default'}"
           ui-sref="redhat.login">Enter</a>
      </div>

      <footer>
        <div class="terms-link">By entering this site you are agreeing to our
          <a href="https://www.redhat.com/en/about/terms-use" target="_blank" rel="noopener">terms.</a></div>
        <div title="peace, love, play"><i class="fa fa-hand-peace-o"></i> <i class="fa fa-heart-o"></i> <i class="fa fa-play"></i></div>
      </footer>
    </section>

    <section class="login" data-ng-switch-when="redhat.login">
      <header>
        <h1>Welcome!</h1>
      </header>

      <div class="box" >
        <form action="{{redhatCtrl.api.REDHAT}}">
          <div class="flex-config">
            <label for="groupid">Group ID</label>
            <input type="text" id="groupid" name="groupid" ng-model="redhatCtrl.userLogin.groupid"
                   required />
          </div>
          <div class="flex-config">
            <label for="grouppwd">Group Password</label>
            <input type="text" id="grouppwd" name="grouppwd" ng-model="redhatCtrl.userLogin.grouppwd"
                   required />
          </div>
          <div class="flex-config">
            <label for="grouppwd">Player ID</label>
            <input type="text" id="name" name="name" ng-model="redhatCtrl.userLogin.name"
                   required />
          </div>
          <div  class="flex-config" >
            <input type="submit" class="btn" value="Login" ng-disabled="redhatCtrl.userLogin.$invalid" />
          </div>
        </form>
      </div>

      <div class="silhouettes animate">
          <div><img src="../images/silhouette-1_0.png" alt="silhouette"></div>
          <!-- div><img src="/rhdc/managed-files/silhouette-2.png" alt="silhouette"/></div -->
          <div><img src="../images/silhouette-3_0_0.png" alt="silhouette"></div>
          <div><img src="../images/silhouette-4_0.png" alt="silhouette"></div>
          <div><img src="../images/silhouette-5_0.png" alt="silhouette"></div>
          <div><img src="../images/silhouette-6_0.png" alt="silhouette"></div>
          <div><img src="../images/silhouette-7_0.png" alt="silhouette"></div>
      </div>
    </section>

  </div>

  <aside class="related">
    <h2>The Future of Tech is Collaborative</h2>

    <p>Co.Lab introduces the principles of open source―and the inspiration to use it in our communities.
      With open hardware and methodologies, Co.Lab teaches why being open is a better way to
      work and solve problems. Co.Lab is a part of Red Hat’s Open Source Stories. </p>

    <a class="p" href="http://redhat.com/colab" target="_blank" rel="noopener">
      Learn more about the Co.Lab program
    </a>

    <p>Interested in hands-on activities you can do at home?
      Check out our Co.Lab kits:</p>

    <ul>
      <li><a href="http://red.ht/robot-kit" target="_blank" rel="noopener">
          Red Hat Co.Lab Robot Kit</a>
      </li>

      <li><a href="http://red.ht/LED-kit" target="_blank" rel="noopener">
          Red Hat Co.Lab LED Kit</a>
      </li>

      <li><a href="http://red.ht/farm-kit" target="_blank" rel="noopener">
          Red Hat Co.Lab Farm Kit
        </a></li>

      <li><a href="https://www.sparkfun.com/red_hat#dli-course" target="_blank" rel="noopener">
          Red Hat coloring and activity books
        </a></li>
    </ul>

    <a class="block" href="https://www.redhat.com/en/open-source-stories/" target="_blank" rel="noopener">
      <span class="text">Open Source Stories</span>
      <span class="subtext">Celebrate the creators who bring the power of open
        source to everything people do.</span>
    </a>

    <a class="block" href="http://redhat.com" target="_blank" rel="noopener">
      <span class="text">Red Hat</span>
      <span class="subtext">We’re the world’s leading provider of enterprise
        open source solutions, using a community-powered approach to deliver
        high-performing Linux, cloud, container, and Kubernetes technologies.</span>
    </a>

    <a class="block" href="https://www.gameontext.org/" target="_blank" rel="noopener">
      <span class="text">Game On! Text Adventure</span>
      <span class="subtext">Learn more about the engine behind the game.
      </span>
    </a>
  </aside>
</div>
