  <a class="link" href="https://discord.gg/jkc5JFHb4p" target="_blank" rel="noopener">
    <svg class="icon">
      <use xlink:href="#shape-forum_32"/>
    </svg>
    <span class="text"><b>Join us on Discord!</b></span>
  </a>
  <a class="link" href="https://www.gameontext.org/">
    <svg class="icon">
      <use xlink:href="#shape-catalog_32"/>
    </svg>
    <span class="text">Book</span>
    <span class="subtext">What is this game,
      and what does it have to do with microservices?
      Read on!
    </span>
  </a>
  <a class="link" href="http://www.gameontext.org/blog/">
    <svg class="icon">
      <use xlink:href="#shape-news_32"/>
    </svg>
    <span class="text">Blog</span>
    <span class="subtext">Extra! Extra!
      Get the latest on our adventures, whether they be at events or
      just in code.
    </span>
  </a>
  <a class="link" href="/swagger/">
    <svg class="icon">
      <use xlink:href="#shape-api_32"/>
    </svg>
    <span class="text">Swagger APIs</span>
    <span class="subtext">Our callable REST APIs.
      Cleanly documented with Swagger. Ready to be poked with sticks.</span>
  </a>
  <a class="link" href="https://github.com/gameontext/">
    <svg class="icon">
      <use xlink:href="#shape-octo-32"/>
    </svg>
    <span class="text">GitHub Projects</span>
    <span class="subtext">Game On! is open source. All the code. All the words.</span>
  </a>
  <a class="link" href="https://hub.docker.com/search/?q=gameontext">
    <svg class="icon">
      <use xlink:href="#shape-docker"/>
    </svg>
    <span class="text">Docker Images</span>
    <span class="subtext">Game On! has pre-built images on Docker Hub to make
      local development easier.</span>
  </a>
  <a class="link" href="https://github.com/orgs/gameontext/people">
    <svg class="icon">
      <use xlink:href="#shape-group_32"/>
    </svg>
    <span class="text">Contributors</span>
    <span class="subtext">Lots of people helped to build this game. We hope you will, too.</span>
  </a>
