/.settings/
/.project
.*.swp
oauth-credentials.xml
dockerrc
/servers/*/apps
/servers/*/logs
/servers/*/resources/security/key.jks
/servers/*/resources/security/ltpa.keys
/servers/*/workarea
/servers/*/lib
/servers/.pid
/build/
/servers/.classCache
/servers/gameon-player/configDropins/overrides
