<server>
	<!-- Twitter Application info.. -->
	<jndiEntry jndiName="twitterOAuthConsumerKey" value=""/>
	<jndiEntry jndiName="twitterOAuthConsumerSecret" value=""/>
	
	<!-- Facebook Application info.. -->
	<jndiEntry jndiName="facebookAppID" value=""/>
	<jndiEntry jndiName="facebookAppSecret" value=""/>
</server> 