<div class="viewport">
  <div class="container">
  <!-- DIRECTIVE!! I want one that will take the direction and then apply the right class or hide itself or show a lock icon..  
    <div class="door north">N<i class="fa fa-lock"></i></div>
    <div class="door south">S</div>
    <div class="door east">E</div>
    <div class="door west">W</div>
    <div class="door up">U</div>
    <div class="door down">D</div>  -->
    <table class="u-full-width">
      <tbody>
        <tr><td width="33%"></td><td width="33%">N</td><td></td></tr>
        <tr><td>W</td><td>U / D</td><td>E</td></tr>
        <tr><td></td><td>S</td><td></td></tr>
      </tbody>
    </table>
  </div>
</div>
<nav class="top">
  <div class="action"><a><i class="fa fa-hand-paper-o"></i></a></div>
  <div class="title"><a>GO (fixed chars) Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed d</a></div>
</nav>