<div class="viewport" scroll-glue>
  <div class="container">
    <div>Room description / streaming content (actions: someone enters through a door, someone exits, someone throws a beach ball)</div>
    <div class="chat"><div class="date">time</div><div class="player">@ebullientworks</div><div class="message">A great message</div></div>
    <div>@roger moves the chair.</div>
    <div>The dastardly wizard appears, cackling, and steals @roger's cookies.</div>
    <div>
      <div ng-repeat="data in playerService.roomEvents track by $index">
        <div class="time">{{data.timeStamp}}</div>
        <div class="player" data-ng-if="data.player">{{ data.player }}</div>
        <div class="message">{{data.body}}</div>
        {{data}}
      </div>
    </div>
    
  </div>    
</div>
<nav class="top">
  <div class="action"><a><i class="fa fa-hand-paper-o"></i></a></div>
  <div class="title"><a>Sandy Beach</a></div>
</nav>