<div class="viewport">
  <div class="container">
    <div ng-repeat="data in playerService.roomEvents track by $index">
      <div class="activity">
        <div class="time">{{data.timeStamp}}</div>
        <div class="player" data-ng-if="data.player">{{ data.player }}</div>
        <div class="message">{{data.body}}</div>
        {{data}}
      </div>
    </div>
    <div>Room description / streaming content (actions: someone enters through a door, someone exits, someone throws a beach ball)</div>
    <div class="chat"><div class="date">time</div><div class="player">@ebullientworks</div><div class="message">A great message</div></div>
    <div>@roger moves the chair.</div>
    <div class="chat"><div class="date">time</div><div class="player">@ebullientworks</div><div class="message">A great message</div></div>
    <div>@seamus looks under the beach umbrella. Nope.</div>
    <div>The dastardly wizard appears, cackling, and steals @roger's cookies.</div>
    <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
    
  </div>    
</div>
<nav class="top">
  <div class="action"><a><i class="fa fa-hand-paper-o"></i></a></div>
  <div class="title"><a>Sandy Beach</a></div>
</nav>