<div class="viewport">
  <div class="container">
    <div class="trophy"><div class="date">time</div><div class="title">Found the frog in the weird room.</div><div class="message">blahblahlblh</div></div>
    <div class="trophy"><div class="date">time</div><div class="title">Escaped from Hotel California.</div><div class="message">blahblahlblh</div></div>
  </div>
</div>
<nav class="top">
  <div class="action"><a><i class="fa fa-hand-paper-o"></i></a></div>
  <div class="title"><a>Your list of accomplishments: </a></div>
</nav>