.*.swp
.DS_Store
/.apt_generated/
/.settings/
/.project
/.gradle
/.classpath
/.project
/.settings
/.factorypath
/bin
/build
/src/main/webapp/META-INF/

# dependencies
/node_modules
/src/main/webapp/bower_components/

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
/.tmp/
/dist/
