/*! gameontext redhatContent.css | APL2.0 License | github.com/gameontext/gameon-webapp */
/** Red Hat Co.Lab */
#redhat .main {
  background-color: #fff;
  color: #000;
  padding-top: 2em;
}
#redhat .main a {
  color: #cf0000;
}
#redhat .main a:hover {
  color: #600;
}
#redhat .main .logo {
  text-align: right;
  padding-right: 1em;
  height: 25px;
}
#redhat .colab img {
  height: 100%;
  width: auto;
}
#redhat .silhouettes div img {
  width: 70%;
  height: auto;
}
#redhat .main .logo img {
  height: 100%;
  width: auto;
}
#redhat section.enter,
#redhat section.login,
#redhat section.terms {
  display: flex;
  min-height: 90vh;
  flex-direction: column;
  align-items: center;
}
#redhat section.enter header h1 {
  color: #000;
  font-weight: 500;
  font-size: 4rem;
}
#redhat section.enter p.intro {
  padding-bottom: 6em;
}
#redhat section.enter p.intro .right {
  padding-left: 6em;
}
#redhat section.enter p.intro .left {
  padding-right: 6em;
}
#redhat .loginForm .box {
  width: 20rem;
}
#redhat section.login label {
  text-align: left;
}
#redhat .main a.button,
#redhat .main button,
#redhat .main input[type="submit"] {
  background-color: #cf0000;
  border-color: #a00;
  color: #fff;
}
#redhat .main button:disabled,
#redhat .main button[disabled],
#redhat .main input[type="submit"]:disabled {
  background-color: #bbb;
  border-color: #ccc;
  color: #000;
}
#redhat .colab {
  position: relative;
  height: 20px;
  color: #000;
}
#redhat .silhouettes {
  box-sizing: border-box;
  margin: 0 -0.5em;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: nowrap;
  position: relative;
  overflow: hidden;
  padding-top: 80px;
  text-align: center;
  font-size: 0;
}
#redhat .silhouettes div {
  transform: translateY(100%);
  transition: transform 0.3s ease;
}
#redhat .silhouettes.animate > div:nth-child(1) {
  animation: slideUp1 1s forwards 1;
}
#redhat .silhouettes.animate > div:nth-child(2) {
  animation: slideUp2 1s forwards 1;
}
#redhat .silhouettes.animate > div:nth-child(3) {
  animation: slideUp3 1s forwards 1;
}
#redhat .silhouettes.animate > div:nth-child(4) {
  animation: slideUp4 1s forwards 1;
}
#redhat .silhouettes.animate > div:nth-child(5) {
  animation: slideUp5 1s forwards 1;
}
#redhat .silhouettes.animate > div:nth-child(6) {
  animation: slideUp6 1s forwards 1;
}
#redhat .silhouettes.animate > div:nth-child(7) {
  animation: slideUp7 1s forwards 1;
}

@keyframes slideUp1 {
  0% {
    transform: translateY(285px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideUp2 {
  0% {
    transform: translateY(484px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideUp3 {
  0% {
    transform: translateY(81px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideUp4 {
  0% {
    transform: translateY(664px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideUp5 {
  0% {
    transform: translateY(52px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideUp6 {
  0% {
    transform: translateY(297px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideUp7 {
  0% {
    transform: translateY(372px);
  }
  100% {
    transform: translateY(0);
  }
}
