<div class="outer-container" data-ng-switch="$state.current.name" ng-class="{darkblue: $state.current.name=='default.login'}">


  <div class="left" ng-class="{mobilehide: $state.current.name=='default.login'}">
    <img class="go-logo" src="../images/go-logo.png" />
    <div class="middle">
      <div class="header">
        <h1>GAME<span class="on">ON</span></h1>
        <span class="lead">A Throwback Adventure</span>
      </div>
      <div class="section">


        <div class="intro">
          <p>You are in a maze of little interconnected rooms, none alike. And you aren't alone...</p>
        </div>

        <a class="button play" ng-class="{disabled: $state.current.name !='default'}" ui-sref="default.login">Enter</a>
      </div>
    </div>

    <footer class="footer section">
      <div title="peace, love, play"><i class="fa fa-hand-peace-o"></i> <i class="fa fa-heart-o"></i> <i
        class="fa fa-play"></i></div>
      <div>the <a href="http://wasdev.net" target="_blank">wasdev</a> team</div>
    </footer>
  </div>


  <div class="right" data-ng-switch-when="default">
      <div class="right-left">
        <div class="row">
          <div class="twelve columns">
            <a class="button" href="https://gameontext.gitbooks.io/gameon-gitbook/content/">
              <svg class="icon">
                <use xlink:href="#shape-catalog_32" />
              </svg>
               <span class="text">Learn more</span> <br>
              <div class="subtext">Microservices architecture explained in the context of an old-school text-based adventure game.</div>
            </a>
          </div>
        </div>
        <div class="row">
          <div class="">
            <a class="button" href="/swagger/">
              <svg class="icon">
                <use xlink:href="#shape-api_32" />
              </svg>
              <span class="text">Swagger APIs</span> <br>
            <span class="subtext">Our callable REST APIs. Cleanly documented with Swagger. Ready to be poked with sticks.</span>
            </a>
          </div>
        </div>
        <div class="row">
          <div class="">
            <a class="button" href="https://github.com/gameontext/">
              <svg class="icon">
                <use xlink:href="#shape-octo-32" />
              </svg>
              <span class="text">GitHub
              Projects</span> <br>
              <span class="subtext">Game On! is open source. All the code. All the words.</span>
            </a>
          </div>
        </div>
        <div class="row">
          <div class="">
            <a class="button" href="http://wasdev.net">
              <svg class="icon">
                <use xlink:href="#shape-group_32" />
              </svg>
              <span class="text">WASDev Team</span> <br>
              <span class="subtext">Lots of people helped to build this game. We hope you will, too.</span>
            </a>
          </div>
        </div>

      </div>
      <!--<div class="right-right">-->
        <!--<img class="gameplay-ss" src="../images/better-gameplay-ss.png">-->
      <!--</div>-->

    </div>

    <!--  LOGIN BUTTONS    -->
    <div class="right login" ng-class="{paddedright: $state.current.name=='default.auth' || $state.current.name=='default.usersetup' || $state.current.name=='default.profile'}">
      <div data-ng-switch-when="default.login">
        <span class="close-login button" data-ng-click="ctrl.backToTheBeginning()">&times;</span>
        <h4 class="signin">Sign in with</h4>
        <br>
        <div class="buttons">
            <a class="button" ng-href="{{ctrl.api.TWITTER}}">Twitter</a>
            <a class="button" ng-href="{{ctrl.api.GOOGLE}}">Google</a>
            <a class="button" ng-href="{{ctrl.api.FACEBOOK}}">Facebook</a>
            <a class="button" ng-href="{{ctrl.api.GITHUB}}">GitHub</a>
            <a ng-if="(!ctrl.api.HOST.includes('game-on.org'))" class="button" ng-href="{{ctrl.api.DUMMY}}">Anonymous user</a>
        </div>
        <div ng-controller="tandcsCtrl">
          <p>By using Game On! your are agreeing to the site <a class="button tandcs" ng-click="toggle()">terms and conditions.</a></p>
          <div ng-show="show">
            <tAndCs/>
          </div>
        </div>
      </div>

      <!--   spinners   -->
      <div class="section" data-ng-switch-when="default.auth">
        <div>Authenticating ... <i class="fa fa-cog fa-spin"></i></div>
      </div>
      <div class="section" data-ng-switch-when="default.usersetup">
        <div>Scrying user details ... <i class="fa fa-cog fa-spin"></i></div>
      </div>

      <!--  error messages -->
      <div class="section" data-ng-switch-default>
        <div class="center">
          <div>Something has gone wrong.</div>
          <div class="padded">Vizzini said when the job goes wrong, we should go back to the beginning.</div>
          <div class="padded">
            <button class="button" data-ng-click="ctrl.backToTheBeginning()">Back to the beginning</button>
          </div>
        </div>
      </div>


      <!--  profile   -->
      <div class="section container login-profile" data-ng-switch-when="default.profile">
        <form name="ctrl.profileForm">
          <profile-core form="ctrl.profileForm" user="ctrl.user"></profile-core>
          <div class="section center">
            <div data-ng-hide="ctrl.profileForm.$invalid">
              <button class="button" data-ng-click="ctrl.user.create()">Done!</button>
            </div>
          </div>
        </form>
      </div>

    </div>

</div>

