<header class="topnav">
  <div class="room-icon-container">
    <a ui-sref="play.room" title="Back to room"><i class="fa fa-arrow-left fa-fw"></i></a>
  </div>

  <div class="right-items">

    <div class="myrooms top-nav-item">
      <a ui-sref="play.myrooms">
        <span class="rooms-icon"></span>
        <span class="editrooms">Edit rooms</span>
      </a>
    </div>

  </div>
</header>

<div class="viewport nonav">
  <div class="container profile">
    <div class="padded row operations">
      <div class="one-half column">
        <a class="button u-full-width" ng-click="play.restart()"><i class="fa fa-undo"></i> Restart</a>
      </div>
      <div class="one-half column">
        <a class="button u-full-width" ng-click="play.logout()"><i class="fa fa-sign-out"></i> Log out</a>
      </div>
    </div>
    <div class="padded row">
      <h4>Update profile</h4>
    </div>
    <form name="play.profileForm" ng-submit="play.updateProfile()">
      <profile-core user="play.user" form="play.profileForm"></profile-core>
      <div class="row">
        <div class="center">
          <button type="submit" class="button" id="submit">
            <i class="fa fa-floppy-o"></i> Done
          </button>
        </div>
      </div>
    </form>
    <div class="padded row">
      <h4>API key (JWT)</h4>
    </div>
    <div class="row">
      Use the following key to experiment with authenticated API calls <a href="https://game-on.org/swagger/">using Swagger</a>.
    </div>
    <div class="row">
        <div class="eleven columns little-text" style="word-wrap: break-word;"><div id="jwt" ng-bind="play.auth.token()"></div></div>
    </div>

  </div>
</div>
