<div class="viewport">
  <div class="container">
      <form name="play.profileForm" ng-submit="play.updateProfile()" >
        <profile-core user="play.user" form="play.profileForm" ></profile-core>
        <label for="startOver">
          <input id="startOver" name="startOver" type="checkbox" data-ng-model="play.startOver" />
          <span class="label-body">Start over</span>
        </label>
        <div class="center padded">
            <input type="submit" id="submit" value="Submit" />
        </div>
      </form>
  </div>
</div>
<nav class="top">
   <div class="title">Edit profile</div>
</nav>
