<header class="topnav">
  <div class="logo-container"></div>
  <div class="title">
    <span>Edit rooms</span>
  </div>

  <div class="right-items">

    <div class="top-nav-item">
      <a ui-sref="play.room" title="Back to room">
        <i class="fa fa-arrow-left fa-fw"></i>
      </a>
    </div>

    <div class="top-nav-item">
      <a ui-sref="play.me" title="Edit player profile">
        <i class="fa fa-user fa-fw"></i>
      </a>
    </div>

    <div class="top-nav-item">
      <a ui-sref="play.myrooms" title="Edit registered rooms">
        <i class="fa fa-building fa-fw"></i>
      </a>
    </div>

  </div>
</header>


<div class="viewport nonav">
  <div class="container profile">
    <div class="padded row">
      <h4>Room management</h4>
    </div>

    <div class="padded row">
      Game On! id: <span class="little-text">{{play.user.profile._id}}</span>
    </div>

    <div class="padded row">
      Use the following secret for room registration:
    </div>
    <div class="row">
        <div class="eleven columns little-text" style="word-wrap: break-word;">
          <div id="sharedSecret">{{play.user.profile.credentials.sharedSecret}}</div>
        </div>
    </div>

    <form name="play.sharedsecretForm" ng-submit="play.updateSharedSecret()">
      <div class="padded row">
        <div class="center">
          <button type="submit" id="submit">
            <i class="fa fa-key"></i> Regenerate Shared Secret
          </button>
        </div>
      </div>
    </form>

    <div ng-controller="SiteCtrl as sites">
      <form name="sites.roomConfig">

        <hr />

        <div class="padded row operations">
          <p>Use the following fields to configure the registration of your room
            with the game. Select an existing room from the drop-down.
        </div>

        <div class="row">
          <div class="one-third column">
            <label for="roomSelect">Select a room: </label>
          </div>
          <div class="two-thirds column">
            <select id="roomSelect" class="u-full-width"
                ng-change="sites.resetForm()"
                ng-model="sites.activeSite"
                ng-options="site as site.info.name for site in sites.siteList track by site._id">
                <option value="">-- Register a new room --</option>
            </select>
          </div>
        </div>

        <div class="row">
          <div class="one-third column">Room id</div>
          <div class="two-thirds column little-text">{{ sites.activeSite._id }}</div>
        </div>

        <div class="row" id="required_name">
          <div class="one-third column">
            <label for="roomInfo_name">Room Name</label>
          </div>
          <div class="two-thirds column">
            <input class="u-full-width" type="text" id="roomInfo_name" required
            placeholder="Short, unique room name: niftyRoom" ng-model="sites.activeSite.info.name"/>
          </div>
        </div>

        <div class="row">
          <div class="one-third column">
            <label for="roomInfo_fullName">Full Name</label>
          </div>
          <div class="two-thirds column">
            <input class="u-full-width" type="text" id="roomInfo_fullName"
            placeholder="Full name for your room" ng-model="sites.activeSite.info.fullName">
          </div>
        </div>

        <div class="row">
          <div class="four columns">
            <label for="">WebSocket endpoint</label>
          </div>
          <div class="six columns">
            <input class="u-full-width" type="text" id="roomInfo_target"
                ng-model="sites.activeSite.info.connectionDetails.target"
                placeholder="ws://<hostname:portnumber>/<context-root>"/>
          </div>
          <div class="two columns">
            <!--
            <button type="button" class="btn u-full-width">Test</button>
            -->
          </div>
        </div>

        <div class="row">
          <label for="roomInfo_description">Description</label>
          <textarea class="u-full-width" id="roomInfo_description" rows="3"
          placeholder="Describe your room: is it a tavern? A bus stop? A store?"
          ng-model="sites.activeSite.info.description"></textarea>
        </div>

        <div class="padded row">
          Doors: Describe the doors of your room as they
            <a href="https://book.gameontext.org/microservices/Map.html#_the_nature_of_doors" target="_blank">appear from the outside</a>
        </div>
        <div class="padded row">
          <div class="one column">&nbsp;</div>
          <div class="two columns">North</div>
          <div class="nine columns"><input class="u-full-width" type="text" id="roomInfo_n"
          placeholder="" ng-model="sites.activeSite.info.doors.n"/></div>
        </div>
        <div class="row">
          <div class="one column">&nbsp;</div>
          <div class="two columns">South</div>
          <div class="nine columns"><input class="u-full-width" type="text" id="roomInfo_s"
          placeholder="" ng-model="sites.activeSite.info.doors.s"/></div>
        </div>
        <div class="row">
          <div class="one column">&nbsp;</div>
          <div class="two columns">East</div>
          <div class="nine columns"><input class="u-full-width" type="text" id="roomInfo_e"
          placeholder="" ng-model="sites.activeSite.info.doors.e"/></div>
        </div>
        <div class="row">
          <div class="one column">&nbsp;</div>
          <div class="two columns">West</div>
          <div class="nine columns"><input class="u-full-width" type="text" id="roomInfo_w"
          placeholder="" ng-model="sites.activeSite.info.doors.w"/></div>
        </div>

        <div class="padded row" ng-show="!sites.activeSite._id">
          <div class="center">
            <button type="button" class="btn" ng-model="sites.activeSite" ng-click="sites.createRoom()">Register</button>
          </div>
        </div>
        <div class="padded row" ng-show="sites.activeSite._id">
          <div class="one-half column">
            <button type="button" class="btn u-full-width" ng-model="sites.activeSite" ng-click="sites.updateRoom()"
                    ng-disabled="sites.roomConfig.$pristine">Update</button>
          </div>
          <div class="one-half column">
            <button type="button" class="btn u-full-width" ng-model="sites.activeSite" ng-click="sites.deleteRoom()">Delete</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
