<header class="topnav">
  <div class="logo-container"></div>
  <div class="title">
    <a ng-click="play.sendFixed('/look')">{{ play.clientState.fullName }}</a>
  </div>

  <div class="right-items">

    <div class="help top-nav-item">
      <a ng-click="play.listCommands()">
        <span class="caption">Help</span>
      </a>
    </div>

    <div class="top-nav-item">
      <a ui-sref="play.me">
        <span class="user-icon"></span>
        <span class="username">{{play.clientState.username}}</span>
      </a>
    </div>

  </div>
</header>


<div class="viewport" scroll-glue>
  <div class="container">
    <div>
      <div ng-repeat="data in play.roomEvents track by data.id" data-ng-switch="data.type">
        <div data-ng-switch-when="chat" class="element chat" ng-class="{ 'me': data.username == play.clientState.username}">
            <div class="username">{{data.username}}</div>
            <div class="content message">"{{data.content}}"</div>
        </div>
        <div data-ng-switch-when="event" class="element event"><div ng-bind-html="data.content" class="little-text"></div></div>
        <div data-ng-switch-when="joinpart" class="joinpart"><div ng-bind-html="data.content" class="little-text"></div></div>
        <div data-ng-switch-when="status" class="joinpart"><div ng-bind-html="data.content" class="little-text"></div></div>
        <div data-ng-switch-when="exit" class="element"><div marked="data.content" class="content"></div></div>
        <div data-ng-switch-when="command" class="command"><div class="content">{{data.content}}</div></div>
        <div data-ng-switch-when="location" class="element location"><div class="name">{{data.fullName}}</div>



          <div ng-bind-html="data.description" class="description"></div>
          <div ng-bind-html="data.content" class="content"></div>
          <div data-ng-if="data.roomInventory.length" class="objects">You notice:
              <ul><li ng-repeat="object in data.roomInventory"><a ng-click="play.append(object)">{{ object }}</a></li></ul>
          </div>
        </div>

        <div data-ng-switch-when="exits" data-ng-if="data.content" class="element exits">Visible exits:
          <br>
          <table>
          <tr class="list-item" ng-repeat="(key, value) in data.content">
            <td class="key">
              <a title="/go {{key}}" ng-click="play.sendFixed('/go ' + key)" ng-bind-html="play.doorName(key)"></a>
            </td>
            <td class="value" ng-bind-html="value"></td>
          </tr>
          </table>
        </div>


        <div data-ng-switch-when="commands" data-ng-if="data.content" class="element commands listiness">Available Commands:
          <br>
          <table>
          <tr class="list-item" ng-repeat="(key, value) in data.content">
            <td class="key" >
              <a title="{{key}}" ng-click="play.fillin(key)" ng-bind-html="key"></a>
            </td>
            <td class="value" marked="value"></td>
          </tr>
          </table>
        </div>

        <div data-ng-switch-default>{{ data }}</div>
      </div>
    </div>
  </div>
</div>


