<p>By registering and using Game On!, you agree that you are subject to and will comply with
  the terms of use set forth below as well as the
  <a href="https://www.ibm.com/legal/us/en/">IBM terms of use</a> and the
  <a href="https://www.ibm.com/legal/us/en/copytrade.shtml">IBM Copyright and trademark information.</a>
</p>

<p class="heading">As a contributor to Game On! you agree to adhere to the following terms of use:</p>
<div>
  <h2>User privacy</h2>
  <ul>
    <li>Your profile, which includes your name, display name and language preference plus any other information
      you elect to make public, together with your Game On! activity, such as your room registrations and
      player location, will be publicly accessible.
    </li>
    <li>Show proper consideration for other's privacy, including not referencing another without his or her
      permission.
    </li>
  </ul>
  <h2>Content publication</h2>
  <ul>
    <li>By creating content ("User Content") in Game On!, you agree to allow anyone with access to Game On! to
      access the content you post.
    </li>
    <li>Do not post or transmit material that is confidential to you or a third party. Further, you agree
      that you will not post or transmit material that is proprietary to a third party unless you attained
      consent from such third party.
    </li>
    <li>Do not post content from, or links to, Internet sites that feature sexual content, gambling, or that
      advocate intolerance of others. Do not create such content in Game On!.
    </li>
    <li>Respect copyright, fair use, and financial disclosure laws. Use appropriate symbols to mark the first
      occurrence of trademarked terms in your content. Do not post images unless you own the exclusive rights
      to display the imagery in this context. By posting images that depict a person or persons, you represent
      and warrant that you attained consent from and verified the legal age of each person depicted in the
      image for the distribution, display and usage of the image in the general public.
    </li>
    <li>Use common courtesy when posting content: refrain from abusive, obscene, or offensive language, images,
      or links. Remember that you are providing content for a multicultural audience -- things that do not
      seem abusive, obscene, or offensive to you might seem so to others.
    </li>
    <li>User Content that you post will be available for use on a global basis by IBM, other participants and
      others who are not participants but who view the User Content on the Internet, without royalties or
      restrictions. IBM, other participants and others who are not participants but who view the User Content
      on the Internet, may use User Content, in whole or in part, for any purpose, may create derivative works
      thereof and may sublicense others to do the same. IBM shall have no obligation to compensate you for any
      feedback or content that you provide, or requests that you submit on the Site. Furthermore, IBM does not
      commit, promise, nor have a legal obligation to deliver any code, functionality, software or other
      materials due to content you post on the Site.
    </li>
    <li>IBM IS NOT RESPONSIBLE FOR USER CONTENT OR THE ACCURACY OF ANY USER CONTENT POSTED. PARTICIPANTS SHALL
      REMAIN SOLELY RESPONSIBLE FOR THE USER CONTENT THEY POST. USER CONTENT DOES NOT REPRESENT THE VIEWS OR
      OPINIONS OF IBM. IBM DOES NOT GUARANTEE THAT ANY USER CONTENT IS CORRECT OR ACCURATE AND IBM DOES NOT
      ENDORSE ANY USER CONTENT.
    </li>
    <li>IBM reserves the right, but does not have the obligation, to monitor the Site. IBM is not responsible for
      what anyone posts on the Site, and postings do not necessarily represent the opinions or positions of IBM.
    </li>
  </ul>
  <h2>Content republishing</h2>
  <ul>
    <li>IBM will have the right to republish any material you contribute to the Game On! environment, including
      any and all modules on the Site provided on the Game On! environment, and you expressly grant the right
      to IBM to copy and republish the content in any form.
    </li>
  </ul>
  <h2>Content removal</h2>
  <ul>
    <li>IBM also retains the right to decline to post any content, or remove any previously posted User Content
      in the Game On! environment, including any and all modules on the Site at our discretion.
    </li>
    <li>IBM will respond to notices of alleged copyright infringement that comply with the Digital Millennium
      Copyright Act. For more information, please refer to
      <a href="https://www.ibm.com/legal/us/en/dmca.html">IBM's Digital Millennium Copyright Act Notices</a>.
      IBM will terminate without notice participants who are "repeat infringers" of copyrights.
    </li>
  </ul>
  <h2>Report abuse</h2>
  <ul>
    <li>You may report any suspected violations of these Terms of Use including, copyright infringement, abusive
      language or inappropriate discussion. To report such violations to IBM, you will need to submit a Room
      Report notice. The notice requires you to be logged into the Site.
    </li>
  </ul>
  <h2>No Commitment as to Future Direction</h2>
  <ul>
    <li>References in content on the Site to IBM products, software, programs, services or associated technologies
      ("IBM Content") do not imply that they will be available in all countries in which IBM operates. IBM
      Content, including any plans contained in content, may change at any time at IBM's sole discretion, based
      on market opportunities or other factors, and is not intended to be a commitment to future content,
      including product or feature availability, in any way. Statements regarding IBM's future direction or
      intent are subject to change or withdrawal without notice and represent goals and objectives only.
    </li>
    <li>Do not use any IBM Content provided on the Site to develop software or services that provide the same or
      similar functionality.
    </li>
  </ul>
  <h2>General rights</h2>
  <ul>
    <li>IBM PROVIDES THIS SERVICE ON AN 'AS IS' BASIS WITHOUT ANY EXPRESS OR IMPLIED WARRANTIES OF ANY KIND,
      including but not limited to any warranty relating to noninfringement of any intellectual or other
      proprietary rights and availability of the service or of the content posted by any parties using the
      Site's content hosting services. IBM will not be liable for any direct or indirect damages, including
      without limitation, lost profits, lost savings, or any incidental, special, or other economic
      consequential damages, even if it has been advised of the possibility of such damages. By using this
      service, you agree to indemnify IBM against any third-party action based on any content you post on the
      Game On! community.
    </li>
    <li>IBM does not give you any express or implied rights or licenses under any intellectual property rights.
      IBM may change these rules at any time by giving you notice. You accept a change by continuing to use
      the Site after you have been notified of the change. Changes are not retroactive. Additional or
      different terms in any written communication from you are void.
    </li>
    <li>IBM is not responsible for the privacy policies or practices of any non-IBM Web sites that Game On! may
      be linked to.
    </li>
    <li>IBM reserves the right at all times (but will not have an obligation) to terminate your account or a
      community for any reason (such as violation of these Terms of Use or the IBM terms of use) or no reason
      at all, with or without notice. We also reserve the right to access, read, preserve, and disclose any
      information as we reasonably believe is necessary to (i) satisfy any applicable law, regulation, legal
      process or governmental request, (ii) enforce these terms, including investigation of potential violations,
      (iii) detect, prevent, or otherwise address fraud, security or technical issues, (iv) respond to user
      support requests, or (v) protect the rights, property or safety of IBM, its users and the public.
    </li>
    <li>These Terms of Use are governed by the substantive laws of the State of New York. Any proceedings to
      resolve disputes relating to the Terms of Use shall be brought in a U.S. Federal Court in the State of
      New York. You hereby expressly waive the right to trial by jury in any matter which arises under these
      Terms of Use.
    </li>
  </ul>
  <h2>IBM employees</h2>
  <ul>
    <li>If you are an IBM employee, you will also follow the
      <a href="https://www.ibm.com/blogs/zz/en/guidelines.html">IBM Social Computing Guidelines</a>,
      <a href="https://www.ibm.com/investor/governance/business-conduct-guidelines.wss">IBM Business Conduct
        Guidelines</a> and your employment agreement with IBM, which you can obtain from your Human Resources
      contact.
    </li>
  </ul>
  <h2>Related Links</h2>
  <ul>
    <li><a href="https://www.ibm.com/legal/us/en/">IBM Terms of use</a></li>
    <li><a href="https://www.ibm.com/privacy/us/en/">IBM Privacy</a></li>
    <li><a href="https://www.ibm.com/blogs/zz/en/guidelines.html">IBM Social Computing Guidelines</a></li>
    <li><a href="https://www.ibm.com/legal/us/en/copytrade.shtml">IBM Copyright and trademark information</a></li>
    <li><a href="https://www.ibm.com/legal/patents.html">IBM Patent information</a></li>
    <li><a href="https://www.ibm.com/legal/us/en/dmca.html">IBM Digital Millennium Copyright Act Notices</a></li>
    <li><a href="https://www.ibm.com/developerworks/community/terms/thirdparty/index.html">Third-Party Notice</a>
    </li>
  </ul>
</div>
